*{
    margin:0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    background-image: linear-gradient(to right, #a6c0fe, #fbc2eb);

}

.registro{
    background-color: white;
    border-radius: 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 45%;
    height: 50vh;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 5rem;
    margin-top: 5rem;
}

.login button{
    background:green;
    border: transparent;
    width: 15vw;
    margin-top: 2rem;

    font-family: Poppins-Medium;
    font-size: 18px;
    line-height: 1.5;
    color: white;   
    font-weight: bolder;
    outline: none;
    width: 20vw;
    /* border: 2px solid white ; */
    border-radius: 5px;
    padding: .62rem;
    /* background: rgba(128, 128, 128, 0.315); */
}


/* DADOS LOGIN */
.email input{
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: hsl(0, 0%, 40%);   
    outline: none;
    width: 20vw;
    border: 2px solid white ;
    border-radius: 5px;
    padding: .62rem;
    background: rgba(128, 128, 128, 0.315);
}
.password input{
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666;    outline: none;
    width: 20vw;
    margin-top: .4rem;
    border: 2px solid white ;
    border-radius: 5px;
    padding: .62rem;

    background: rgba(128, 128, 128, 0.315);
}


/* ERRO DE LOGIN  */
.error {
    margin: 10px;
    font-size: 10px;
}
.error-password:hover{
    color:red
}

.create-account:hover{
    color:red
}
/* IMAGE */
.image img{
    width: 100%;
    max-width: 85%;
}
